# OS X
.DS_Store

# Xcode
xcuserdata/
*.xccheckout

# Bundler
.bundle

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts
Carthage/Build
MJModel.framework.zip

# Code Coverage
*.coverage.txt
